<details open="" class=" box cstyle notices warning">
  <summary class="box-label" tabindex="-1">
    <i class="fa-fw fas fa-exclamation-triangle"></i> 
    Deprecated
  </summary>
  <div class="box-content">
<p>This website is no longer maintained. Current content can be found at <a href="https://textbooks.cs.ksu.edu/cs-zero" rel="external" target="_blank">https://textbooks.cs.ksu.edu/cs-zero</a>. If you see this message in a current course, please contact your instructor and let them know where you found it so it can be updated.</p>
  </div>
</details>

{{ .Content }}